## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
columns_to_drop = ["EIN", "NAME"]

# Drop the specified columns from the DataFrame
application_df = application_df.drop(columns=columns_to_drop, axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Finding attribute columns
application_categories = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column of object type
columns = application_df[application_categories].nunique()

# Iterate through the columns and print the unique value counts for each column
# we iterate through every column in the dataframe, some of them of object type where we found the unique count
for column in application_df.columns:
    if column in columns.index:
        data_type = application_df[column].dtype
        #print(f"{column}           (Data Type: {data_type}) - {columns[column]} unique value(s)")
        print(f"{column.ljust(40)} (Data Type: {data_type}) - {columns[column]} unique value(s)")
    else:
        print(f"{column.ljust(20)} numeric- {application_df[column].nunique()} unique value(s)")

APPLICATION_TYPE                         (Data Type: object) - 17 unique value(s)
AFFILIATION                              (Data Type: object) - 6 unique value(s)
CLASSIFICATION                           (Data Type: object) - 71 unique value(s)
USE_CASE                                 (Data Type: object) - 5 unique value(s)
ORGANIZATION                             (Data Type: object) - 4 unique value(s)
STATUS               numeric- 2 unique value(s)
INCOME_AMT                               (Data Type: object) - 9 unique value(s)
SPECIAL_CONSIDERATIONS                   (Data Type: object) - 2 unique value(s)
ASK_AMT              numeric- 8747 unique value(s)
IS_SUCCESSFUL        numeric- 2 unique value(s)

In [4]:
# Look at APPLICATION_TYPE value counts for binning

#  YOUR CODE GOES HERE
grouped_df = application_df.groupby("APPLICATION_TYPE").size().reset_index(name="COUNT")
sorted_df = grouped_df.sort_values(by="COUNT", ascending=False)
sorted_df = sorted_df.reset_index(drop=True)
print(sorted_df)

   APPLICATION_TYPE  COUNT
0                T3  27037
1                T4   1542
2                T6   1216
3                T5   1173
4               T19   1065
5                T8    737
6                T7    725
7               T10    528
8                T9    156
9               T13     66
10              T12     27
11               T2     16
12              T14      3
13              T25      3
14              T29      2
15              T15      2
16              T17      1

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# (Types we will bin together are (T9, T13, T12, T2, T14, T25, T29, T15, T17)
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9", "T13", "T12", "T2", "T14", "T25", "T29", "T15", "T17"]

# Replace the specified values in the "APPLICATION_TYPE" column with "Other"
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(application_types_to_replace, "Other")

# Check the value counts after replacing
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
grouped_df2 = application_df.groupby("CLASSIFICATION").size().reset_index(name="COUNT")
sorted_df2 = grouped_df2.sort_values(by="COUNT", ascending=False)
sorted_df2 = sorted_df2.reset_index(drop=True)
print(sorted_df2)

   CLASSIFICATION  COUNT
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
..            ...    ...
66          C2190      1
67          C2380      1
68          C2500      1
69          C2561      1
70          C8210      1

[71 rows x 2 columns]

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
filtered_df = sorted_df2[sorted_df2["COUNT"] > 1]
filtered_df.reset_index(drop=True, inplace=True)

print(filtered_df)

   CLASSIFICATION  COUNT
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
5           C7000    777
6           C1700    287
7           C4000    194
8           C5000    116
9           C1270    114
10          C2700    104
11          C2800     95
12          C7100     75
13          C1300     58
14          C1280     50
15          C1230     36
16          C1400     34
17          C2300     32
18          C7200     32
19          C1240     30
20          C8000     20
21          C7120     18
22          C1500     16
23          C1800     15
24          C6000     15
25          C1250     14
26          C8200     11
27          C1278     10
28          C1238     10
29          C1235      9
30          C1237      9
31          C7210      7
32          C1720      6
33          C4100      6
34          C2400      6
35          C1600      5
36          C1257      5
37          C2710      3
38          C1260      3
39             C0      3
40          C1267      2
41          C1246      2
42          C1256      2
43          C3200      2
44          C1234      2

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# 1883 will be my cutoff
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = ["C7000","C1700","C4000","C5000","C1270","C2700","C2800",
                              "C7100","C1300","C1280","C1230","C1400","C2300","C7200",
                              "C1240","C8000","C7120","C1500","C1800","C6000","C1250",
                              "C8200","C1278","C1238","C1235","C1237","C7210","C1720",
                              "C4100","C2400","C1600","C1257","C2710","C1260","C0",
                              "C1267","C1246","C1256","C3200","C1234",
                              "C1370","C1236","C2190","C4200","C5200","C1248","C2600",
                              "C1590","C6100","C1820","C1900","C2380","C2570","C1580",
                              "C3700","C2500","C1570","C1283","C2170","C1732","C1728",
                              "C4120","C8210","C4500","C1245","C2561","C2150"]
# Replace in dataframe
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

#print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
numerical_cols = application_df.select_dtypes(include=['int', 'float']).columns
categorical_cols = application_df.select_dtypes(include=['object']).columns
# Use get_dummies() to one-hot encode only the categorical columns
one_hot_encoded = pd.get_dummies(application_df[categorical_cols])
application_df = pd.concat([application_df[numerical_cols], one_hot_encoded], axis=1)
column_types = application_df.dtypes

print(column_types)

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE   
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values 
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)
# you can set a default split size too I think we are at test_size = 0.1

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
import tensorflow as tf
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1,
input_dim=number_input_features, activation = "relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
def final_callback(message):
    print(f"Final callback: {message}")

In [15]:
def loss_accuracy_callback(epoch, loss, accuracy):
    print(f"Epoch {epoch}: Loss={loss:.4f}, Accuracy={accuracy:.4f}")

In [16]:
import numpy as np
def main_process(callback, X_train_scaled, y_train, nn, report_interval=5):
    # Train the model and store the training history
    fit_model = nn.fit(X_train_scaled, y_train, epochs=100, verbose=0)
    training_history = fit_model.history
    
    print("Training has started.")
    epochs = 100
    
    # Report loss and accuracy at the specified intervals
    for epoch in range(1, epochs + 1):
        if epoch % report_interval == 0 or epoch == epochs:
            loss = training_history['loss'][epoch - 1]
            accuracy = training_history['accuracy'][epoch - 1]

            callback(epoch, loss, accuracy)

    result = "Task completed."
    final_callback(result)  
    print("Main process finished.")

    # Get the predicted values for the test data
predicted_values = nn.predict(X_test_scaled)
#print("Predicted Values:", predicted_values)
combined_data = np.concatenate((X_test_scaled, predicted_values), axis=1)

# Print the combined data to show modelling answers
print("Combined Data (Features + Predicted Values):")
print(combined_data)

268/268 [==============================] - 0s 929us/step
Combined Data (Features + Predicted Values):
[[ 0.01394306 -0.03336766 -0.08918651 ...  0.02789425 -0.02789425
   0.69083112]
 [ 0.01394306  0.02868029 -0.08918651 ...  0.02789425 -0.02789425
   0.41815293]
 [ 0.01394306 -0.03348439 -0.08918651 ...  0.02789425 -0.02789425
   0.65896779]
 ...
 [ 0.01394306 -0.03348439 -0.08918651 ...  0.02789425 -0.02789425
   0.86277372]
 [ 0.01394306 -0.03348439 -0.08918651 ...  0.02789425 -0.02789425
   0.58462256]
 [ 0.01394306 -0.03348439 -0.08918651 ...  0.02789425 -0.02789425
   0.69579893]]

In [17]:
def loss_accuracy_callback(epoch, loss, accuracy):
    print(f"Epoch {epoch}: Loss={loss:.4f}, Accuracy={accuracy:.4f}")

In [18]:
main_process(loss_accuracy_callback, X_train_scaled, y_train, nn)

Training has started.
Epoch 5: Loss=0.5606, Accuracy=0.7300
Epoch 10: Loss=0.5547, Accuracy=0.7304
Epoch 15: Loss=0.5525, Accuracy=0.7320
Epoch 20: Loss=0.5512, Accuracy=0.7319
Epoch 25: Loss=0.5492, Accuracy=0.7320
Epoch 30: Loss=0.5487, Accuracy=0.7327
Epoch 35: Loss=0.5483, Accuracy=0.7325
Epoch 40: Loss=0.5481, Accuracy=0.7336
Epoch 45: Loss=0.5479, Accuracy=0.7334
Epoch 50: Loss=0.5473, Accuracy=0.7323
Epoch 55: Loss=0.5472, Accuracy=0.7338
Epoch 60: Loss=0.5471, Accuracy=0.7341
Epoch 65: Loss=0.5471, Accuracy=0.7345
Epoch 70: Loss=0.5465, Accuracy=0.7346
Epoch 75: Loss=0.5466, Accuracy=0.7338
Epoch 80: Loss=0.5465, Accuracy=0.7343
Epoch 85: Loss=0.5462, Accuracy=0.7351
Epoch 90: Loss=0.5463, Accuracy=0.7343
Epoch 95: Loss=0.5460, Accuracy=0.7350
Epoch 100: Loss=0.5459, Accuracy=0.7341
Final callback: Task completed.
Main process finished.

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7238 - 476ms/epoch - 2ms/step
Loss: 0.5591604113578796, Accuracy: 0.7238484025001526

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("charity_keras_tensorsaved_model.h5")